/* @import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Farsan&family=Racing+Sans+One&display=swap');

:root{
    --primary-color: #DAD7CD;
    --secondary-color: #A3B18A;
    --accent1-color: #588157;
    --accent2-color: #3A5A40;

    --heading-font: "Arsenal", sans-serif;
    --paragraph-font: "Arsenal", sans-serif;

    --overall-background-color: rgba(218, 215, 205, 0.644);

    --nav-background-color: #A3B18A;
    --nav-link-color: #3A5A40;
    --nav-hover-link-color: #3A5A40;
    --nav-hover-background-color: #DAD7CD;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

/* Reoccuring theme */
header{
    display: grid;
    grid-template-columns: 200px 2fr;
    align-items: center;
    max-width: 1000px;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    padding: 0 1px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    padding: 10px 15px;
}

nav :hover{
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}

p{
    padding: 15px 1px;
}

.hero{
    position: relative;
    top: 10px; left: 2px; right: 2px;
}
.hero h1{
    background-color: var(--overall-background-color);
    position: absolute;
    /* text-align: center; */
    padding: 20px;
    top: 0;
    right: 0;
    left: 0;
    
}
.hero article{
    background-color: var(--overall-background-color);
    position: absolute;
    bottom: 35%;
    left: 20px;
    right: 20px;

}
.hero article img{
    width: 100px;
    height: auto;
    float: right;
    padding: 10px
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
}

.history h2{
    /* text-align: center; */
    padding: 10px;
}

.history{
    background-color: var(--overall-background-color);
    text-align: left;
}

.adventure-awaits{
    background-color: var(--overall-background-color);
}

.adventure-awaits h2{
    padding: 10px 0 0 0;

}
.adventure-awaits div{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
figure img{
    width: 100%;
    height: auto;
}
figcaption{
    text-align: center;
}

footer{
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

footer a img{
    width: 50px;
    height: auto;
    padding: 15px 0 0 0;
}
footer p{
    grid-column-start: 3;
    grid-column-end: span 2;

}
footer div{
    grid-column-start: 5;
    align-items: stretch;
}