@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Edu+TAS+Beginner:wght@400..700&family=Racing+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 1000px;
}
h1{
    font-family: "Edu TAS Beginner", "Arsenal", sans-serif;
    font-weight: 100;
    text-align: center;
}
form{
    height: auto;
    background-color: rgb(224, 215, 224);
    border: 2px solid rgb(139, 129, 139);
    border-radius: 0.3rem;
}

.question-input{
    /* display: block; */
    display: grid; 
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
    align-items: center;
}

legend{
    margin: 2px;
    padding: 10px;
    font-family: "Edu TAS Beginner", "Arsenal", sans-serif;
    font-weight: bold;
}
label, input, button, select, textarea{
    font-family: "Arsenal", sans-serif;
}
input, select, textarea{
    padding: 5px 10px;
}
fieldset{
    margin: 10px 20px;
}
button{
    width: 100px;
    background-color: rgb(173, 104, 173);
    color: rgb(248, 244, 248);
    border: 1px double rgb(173, 104, 173);
    margin: 5px 10px;
    padding: 10px;
}
button:hover{
    background-color: rgb(141, 21, 141);
}