*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1{
    color: steelblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px double steelblue;
    padding: 3px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p{
    padding: 0;
}

main{
    max-width: 900px;
}

aside{
    width: 25rem;
    margin: 0.5rem;
    border: 2.5px solid orangered;
    padding: 10px;
    background-color: rgb(184, 241, 241);
    color: rgb(43, 6, 6);
    text-align: justify;
    position: relative;
    top: 5px;

}

aside img{
    width: 20em;
    height: auto;
    /* text-align: justify; */
}

aside h2{
    position: absolute;
    top: 20px;
    left: 150px;
}

footer{
    margin-top: 15px;
    border-top: 2.5px dashed orangered;
    text-align: center;
}

/*Class Selectors*/
.box{
    margin: 1rem;
    border: 2px double #767272;
    padding: 1rem;
    background-color: #eae1e1;
}